*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN",
    "Hiragino Sans", Meiryo, sans-serif;
}

.space-s {
  height: 12px;
}

.space-m {
  height: 20px;
}

.space-l {
  height: 32px;
}

.wrap {
  max-width: 700px;
  margin: 0 auto;
}

.inline-block {
  display: inline-block;
}

.pointer-h:hover {
  cursor: pointer;
}

.link {
  color: #3ea6ff;
}

.link:hover {
  cursor: pointer;
}

.tabs {
  border-bottom: 1px solid #aaa;
  margin: 0 0 10px;
  padding: 0;
}

.tab {
  display: inline-block;
  border: 1px solid transparent;
  border-bottom: none;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 6px 12px;
  cursor: pointer;
}

.tab-selected {
  background: #fff;
  border-color: #aaa;
  color: black;
  border-radius: 5px 5px 0 0;
}

.loader {
  margin: 0 auto;
}

/* react-calendar */
.react-calendar {
  border: none;
}

.react-calendar__navigation {
  background-color: #006edc;
}

.react-calendar__navigation button {
  color: #fff;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: rgba(4, 0, 255, 0.534);
}

.react-calendar__month-view__weekdays {
  color: rgba(0, 0, 0, 0.87);
}

/* react-image-gallery */
.image-gallery {
  max-width: 350px;
  margin-right: 20px;
  margin-bottom: 20px;
}

@media all and (max-width: 959px) {
  .image-gallery {
    margin: 0 auto;
  }
}

.image-gallery-left-nav .image-gallery-svg,
.image-gallery-right-nav .image-gallery-svg {
  height: 72px;
  width: 36px;
}

.image-gallery-fullscreen-button .image-gallery-svg,
.image-gallery-play-button .image-gallery-svg {
  height: 24px;
  width: 24px;
}
