*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN",
    "Hiragino Sans", Meiryo, sans-serif;
}

.space-s {
  height: 12px;
}

.space-m {
  height: 20px;
}

.space-l {
  height: 32px;
}

.wrap {
  max-width: 700px;
  margin: 0 auto;
}

.inline-block {
  display: inline-block;
}

.pointer-h:hover {
  cursor: pointer;
}

.link {
  color: #3ea6ff;
}

.link:hover {
  cursor: pointer;
}

@media all and (max-width: 399px) {
  .record,
  .like-record {
    width: 100%;
    margin: 8px 0;
  }
}

@media all and (min-width: 400px) {
  .record,
  .like-record {
    width: calc(50% - 16px);
    margin: 8px;
  }
}

@media all and (min-width: 600px) {
  .like-record {
    width: calc(33.3333% - 16px);
    margin: 8px;
  }
}

@media all and (min-width: 750px) {
  .record {
    width: calc(33.3333% - 16px);
    margin: 8px;
  }
}

@media all and (min-width: 1200px) {
  .record {
    width: calc(25% - 16px);
    margin: 8px;
  }
}

@media all and (min-width: 1800px) {
  .record {
    width: calc(20% - 16px);
    margin: 8px;
  }
}

.tabs {
  border-bottom: 1px solid #aaa;
  margin: 0 0 10px;
  padding: 0;
}

.tab {
  display: inline-block;
  border: 1px solid transparent;
  border-bottom: none;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 6px 12px;
  cursor: pointer;
}

.tab-selected {
  background: #fff;
  border-color: #aaa;
  color: black;
  border-radius: 5px 5px 0 0;
}

.loader {
  margin: 0 auto;
}

/* user details page */
.user {
  display: inline-block;
  text-align: center;
  margin: 8px;
}

@media all and (max-width: 379px) {
  .user {
    width: calc(50% - 16px);
  }
}

@media all and (min-width: 380px) {
  .user {
    width: calc(33.3333% - 16px);
  }
}

@media all and (min-width: 600px) {
  .user {
    width: calc(25% - 16px);
  }
}

@media all and (min-width: 960px) {
  .user {
    width: calc(20% - 16px);
  }
}

.profile {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.unfollow-btn:hover {
  background-color: #f44336 !important;
}

.hidden {
  visibility: hidden;
}

/* record details page */
@media all and (max-width: 719px) {
  .record-details-page-wrap {
    max-width: 350px;
  }
}

.record-image-memo {
  margin-bottom: 20px;
  text-align: center;
}

@media all and (min-width: 720px) {
  .record-image-memo {
    display: flex;
    margin-bottom: 0;
    text-align: start;
  }
}

.image-gallery,
.record-details-page-no-image {
  max-width: 350px;
  margin-right: 20px;
  margin-bottom: 20px;
}

@media all and (max-width: 719px) {
  .image-gallery,
  .record-details-page-no-image {
    margin: 0;
  }
}

.record-details-page-no-image {
  width: 100%;
}

/* react-calendar */
.react-calendar {
  border: none;
}

.react-calendar__navigation {
  background-color: #006edc;
}

.react-calendar__navigation button {
  color: #fff;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: rgba(4, 0, 255, 0.534);
}

.react-calendar__month-view__weekdays {
  color: rgba(0, 0, 0, 0.87);
}

/* react-image-gallery */
.image-gallery-left-nav .image-gallery-svg,
.image-gallery-right-nav .image-gallery-svg {
  height: 72px;
  width: 36px;
}

.image-gallery-fullscreen-button .image-gallery-svg,
.image-gallery-play-button .image-gallery-svg {
  height: 24px;
  width: 24px;
}
