*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN",
    "Hiragino Sans", Meiryo, sans-serif;
}

.space-s {
  height: 12px;
}

.space-m {
  height: 20px;
}

.space-l {
  height: 32px;
}

.wrap {
  max-width: 700px;
  margin: 0 auto;
}

.pointer-h:hover {
  cursor: pointer;
}

/* react-calendar */
.react-calendar {
  border: none;
}

.react-calendar__navigation {
  background-color: #006edc;
}

.react-calendar__navigation button {
  color: #fff;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: rgba(4, 0, 255, 0.534);
}

.react-calendar__month-view__weekdays {
  color: rgba(0, 0, 0, 0.87);
}
